[access]
	inheritFrom = sdc
[access "refs/*"]
	owner = group ldap/onap-gerrit-sdc-onap-ui-common-committers
	read = group GitHub Replication
[project]
	description = A common UI library containing different components, fonts and styles used by SDC and the different designers in order to create a single look and feel across SDC
