$inputHeight: 38px;
.sdc-search-bar{
  .search-bar-container{
    display: flex;
    align-items: flex-end;
    .sdc-input-wrapper{
      flex-grow: 1;
      .sdc-input{
        margin: 0;
        .sdc-input__input{
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }
    .search-bar-hover-focus {
      .sdc-input__input {
          max-width: 100%;
          float: right;
          padding: 2px 50px 2px 10px;
          transition:all 0.4s;
      }
      &:not(:hover):not(.autocomplete-visible):not(.active){
          border-radius: 0;
          box-shadow:none;

          .sdc-input__input:not(:focus){
              width: 50px;
              padding:2px 50px 2px 10px;;
              float: right;
              border:none;
          }
          .sdc-input-wrapper:not(:focus) ~ .search-button {
              border-radius: 2px;
              border:solid 1px #fff;
          }
      }
    }
    .search-button{
      border: solid 1px $light-gray;
      border-left: none;
    }

    &.not-empty{
      .sdc-input__input {
        border-color: $blue;
      }
      .search-button{
        background-color: $lighter-blue;
        border-color: $blue;
        cursor: pointer;
        svg path{
          fill: $blue;
        }
        &:hover {
            background-color: $light-blue;
            svg{
              path{
                fill: $white;
              }
            }
        }
      }
    }
  }
}
