.sdc-dropdown {
  @include body-1;
  position: relative;

  .sdc-dropdown__input {
      width: 100%;

    ::ng-deep.sdc-input {
      margin-bottom:0px;
      width: 100%;
      input[disabled] {
        pointer-events: none;
      }
    }

    .sdc-input .sdc-input__input.isViewMode.disabled {
      background: $light-silver;
      color: $gray;
    }
  }
  .sdc-dropdown__icon {
    position:absolute;
    right: 35px;
  }
}

.dropdown-results {
  animation: top-to-bottom .0s forwards;
  position: absolute;
  opacity: 0;
  width: 100%;
  max-height: 0;
  overflow-y: auto;
  box-sizing: border-box;
  border: 1px solid $blue;
  background-color: white;
  border-top: none;
  box-shadow: 0 3px 7px -3px $dark-gray;
  z-index: 999;

  .sdc-dropdown__option {
    @include base-font-regular;
    font-size: 14px;
    text-indent: 10px;
    padding: 10px;
    background: transparent;
    cursor: pointer;
    height: 30px;
    line-height: 10px;
    box-sizing: border-box;
    &.sdc-dropdown__option--hr {
      height: 1px;
      overflow: hidden;
      border-top: 1px solid $silver;
      padding: 0;
      margin: 10px 20px;
    }
    &.sdc-dropdown__option--group {
      text-indent: 30px;
    }
    &:hover {
      background-color: $light-silver;
      //@include base-font-semibold;
    }
    &.selected {
      background-color: $lighter-blue;
      color: $blue;
      @include base-font-semibold;
    }
    &.sdc-dropdown__option--header {
      @include base-font-semibold;
      color: $text-black;
      cursor: default;
      &.sdc-dropdown__option--group {
        text-indent: 10px;
      }
      &:hover {
        background-color: transparent;
      }
    }
    &.sdc-dropdown__option--disabled {
      color: $gray;
      cursor: default;
      &:hover {
        background-color: transparent;
      }
      &::after {
        color: $gray;
      }
      &:focus {
        border: solid 1px $light-gray;
        outline: none;
      }
    }
  }
}

@include keyframes-expand-animation('top-to-bottom-exp', 244px);
@include keyframes-collapse-animation('top-to-bottom', 244px);
@include keyframes-expand-animation('bottom-to-top-exp', 244px);
@include keyframes-collapse-animation('bottom-to-top', 244px);

.dropdown-results__animation-open{
  animation: top-to-bottom-exp .0s forwards;
}
.dropdown-results__animation-close{
  animation: top-to-bottom .0s forwards;
}