.ellipsis-directive-more-less {
  color: #3b7b9b;
  font-family: OpenSans-Regular, sans-serif;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  float: right;
  margin-right: 10px;
  line-height: 23px;
  text-decoration: underline;
  text-align: left;
}
